@(disciplinas: List[Disciplina])

@main("Minhas tarefas") {

    <h3>Disciplinas Cadastradas</h3>
    @if(disciplinas.isEmpty){
        Nenhuma disciplina cadastrada
    }else {
        <ul>
            @for(disciplina <- disciplinas){
                <li>@disciplina.getCodigo() "-" @disciplina.getNome()</li>
            }
        </ul>
    }

    <h4>Criar disciplina</h4>
    <form method="post" action="/disciplina"/>
        <input name="codigo" type="text" placeholder="código" required/><br>
        <input name="nome" type="text" placeholder="nome" required/><br>
        <input type="submit" value="criar"/>
    </form>
}
